#main row {
	background-color: #999;
}

#main row,
#main row * {
	outline: none;
	box-shadow: none;
	border: none;
}

#main.debug row:hover {
	background-color: #888;
}

#main.debug row:selected {
	background-color: #333;
}

#main.debug row:selected:hover {
	background-color: #222;
}

.link-overlay {
	padding: 0;
	border: none;
	min-width: 1px;
	min-height: 1px;
}
